<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p> Buenos días [[${hostName}]]. Un usuario realizó una nueva reserva en uno de sus alojamientos. </p>
<p> Datos de la reserva: </p>
<p> - Huésped alias: [[${guestAlias}]] </p>
<p> - Huésped email: [[${guestEmail}]] </p>
<p> - Nombre del alojamiento reservado: [[${nameAcc}]] </p>
<p> - Fecha de inicio de la reserva: [[${startDate}]] </p>
<p> - Fecha de finalización de la reserva: [[${endDate}]] </p>
<br/>
<p> Para confirmar o rechazar la reserva necesita acceder a la aplicación web. </p>
<br/>
<p> Saludos cordiales, </p>
<p> Equipo GoAndRent. </p>

</body>
</html>