<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p> Buenos días [[${hostName}]]. El usuario [[${guestAlias}]] canceló la reserva del alojamiento [[${nameAcc}]]. </p>
<p> Se realizó el reembolso del pago por la mitad de la estadía. </p>
<br />
<p>  Datos de la reserva: </p>
<p> - Id Reserva: [[${idBooking}]] </p>
<p> - Total de la Reserva: [[${total}]] </p>
<p> - Fecha de inicio: [[${startDate}]] </p>
<p> - Fecha de finalización de la reserva: [[${endDate}]] </p>
<br />
<p> Datos del huésped: </p>
<p> - Correo: [[${guestEmail}]] </p>
<br />
<p> Saludos cordiales, </p>
<p> Equipo GoAndRent. </p>

</body>
</html>